@import "../../Colors.scss";
.btnsDivs {
  width: 100%;
  height: 50px;
  @include justifyEvn;
  flex-direction: row;
  button {
    width: 45%;
    max-width: 70px;
    height: 100%;
    border-radius: 20px;
    @include allCenter;
    background-color: transparent;
    cursor: pointer;
    .iconclas {
      font-size: 30px;
    }
    &:first-child {
      border: 2px solid red;
      .iconclas {
        color: red;
      }
    }
    &:last-child {
      border: 2px solid $secondry_color;
      .iconclas {
        color: $secondry_color;
      }
    }
  }
}
